@import '../../../node_modules/vuetify/src/stylus/settings/_colors'

/*
    primary1Color: '#E2202C',
    primary2Color: '#B01E21',
    secondary1Color: '#AABCCD',
    secondary2Color: '#E9EDF2',
    textColor: '#5E5E5E',
    secondaryTextColor: '#909090',
    alternateTextColor: colors.white,
    backgroundColor1: '#EAEAEA',
    backgroundColor2: '#F9F9F9',
    borderColor: colors.grey300,
    controlBackgroundColor: colors.white,
    disabledColor: '#8E8E8E',
    pickerHeaderColor: colors.cyan500,
    clockCircleColor: (0, fade)(colors.darkBlack, 0.07),
    shadowColor: colors.fullBlack
*/

$theme = {
  primary: #AABCCD
  secondary: #E9EDF2
  accent: #E2202C
  accent2: #B01E21
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
  minorInfo: $grey.lighten-1
  text: #5E5E5E
}

@import '../../../node_modules/vuetify/src/stylus/main'
